<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= brewType %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/brewType.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <style>
        .sugbtn1 {
            background-image: url("<%= randImg[0].path %>");
        }

        .sugbtn2 {
            background-image: url("<%= randImg[1].path %>");
        }

        .sugbtn3 {
            background-image: url("<%= randImg[2].path %>");
        }
    </style>
</head>

<body>
    <%- include("partials/navCommon") %>

        <div class="contactBanner">
            <span>
                <%= brewName %>
            </span>
        </div>

        <hr class="dotted">

        <div class="brewContent d-flex">
            <div class="col-8 mainContent">
                <div class="imgDiv">
                    <img src=<%=imgPath %> alt="Demleme Resmi">
                    <!-- klasöre eklenen diğer fotolar ile denendi -->
                </div>
                <div class="brewText">
                    <p>1) Suyunuzu kaynatın ve 1-1.5 dakika bekleyin. 95 derecenin üstündeki su kahvenizi
                        yakacaktır.</p>

                    <p>2) Fincanınızı ve french pressinizi sıcak su ile ısıtın. Kahvenizin hemen soğumasını
                        önleyecektir.</p>

                    <p>3) 200 ml su için 18 gr Kahveyi french pressinize koyun.</p>

                    <p>4) Tüm kahveyi ıslatacak kadar su ekleyip karıştırın ve 30 saniye bekleyin. Ön demleme kahvenizin
                        aromasını artıracaktır.</p>

                    <p>5) Suyun geri kalanını ekleyin ve 4 dakika boyunca demlenmeye bırakın. Demleme süresini uzatmak
                        kahvenizin sertliğini artıracaktır.</p>

                    <p>6) Kahveniz hazır, yavaşça pressledikten sonra fincana doldurabilirsiniz.</p>
                </div>
            </div>
            <div class="col-4 suggestions">
                <div id="suggestTitle">
                    <h5><b>Şunlara da bakabilirsiniz:</b></h5>
                </div>
                <div class="suggestedBrew">
                    <div class="btnDiv">
                        <a href="<%= randImg[0].route %>">
                            <button class="sugbtn sugbtn1"></button>
                        </a>
                    </div>
                    <div class="suggestText">
                        <%= randImg[0].name %>
                    </div>
                </div>
                <div class="suggestedBrew">
                    <div class="btnDiv">
                        <a href="<%= randImg[1].route %>">
                            <button class="sugbtn sugbtn2"></button>
                        </a>
                    </div>
                    <div class="suggestText">
                        <%= randImg[1].name %>
                    </div>
                </div>
                <div class="suggestedBrew">
                    <div class="btnDiv">
                        <a href="<%= randImg[2].route %>">
                            <button class="sugbtn sugbtn3"></button>
                        </a>
                    </div>
                    <div class="suggestText">
                        <%= randImg[2].name %>
                    </div>
                </div>
            </div>
        </div>

        <%- include("partials/footerCommon") %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>
</body>

</html>